.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
.header {
  position: relative;
  margin: 0;
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}
.logo {
width: 183px;
z-index: 1;
}
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  height: 32px;  
}
.header__title {
  font-size: 102px;
  width: 730px;
  line-height: 96px;
  font-weight: 600;
  z-index: 2;
  align-self: center;
  margin-left: 64px;
}
.header__subtitle {
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  z-index: 2;
  position: absolute;
  left: 64px;
  bottom: 30px;
}
.header__link {
  color: #2f80ed;
  text-decoration: none;
}
.header__main-illustration {
  width: 765px;
  height: 608px;
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
}
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color:  #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}
.description {
  display: flex;
  justify-content: center;
}
.two-columns {
  display: flex;
  flex-direction: row;
  width: 80%;
  min-width: 784px;
  margin: 100px auto 0;
}
.two-columns__brief {
  min-width: 175px;
  color: #2f80ed;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  margin: 0;
}
.two-columns__main-text {
  width: 80%;
}
.two-columns__paragraph {
  color: black;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}
.two-columns__span-accent {
  color: black;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
}
.two-columns__paragraph_margin_no {
  margin: 0;
}
.two-columns__paragraph_margin_yes {
  margin: 30px 0;
}
.digits {
  display: flex;
  flex-direction: column;
}
.section-title {
  margin: 100px auto 0;
  width: 60%;
  text-align: center;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;  
}
.section-subtitle {
  margin: 20px auto 0;
  width: 60%;
  text-align: center;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;  
}
.table {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0 auto 100px;
  justify-content: space-between;
}
.table__cell {
  width: 250px;
  margin-top: 60px;
}
.table__heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: 600;
  margin: 0;
}
.table__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  margin: 20px 0 0; 
}
.feynman {
  height: 890px;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-size: 867px 637px;
  background-repeat: no-repeat;
  background-position: left bottom;
  display: flex;
  flex-direction: column;
  position: relative;
}
.feynman__title {
  margin: 100px auto 0;
  font-size: 120px;
  line-height: 1.15;
  font-weight: 600;
  width: 648px;
  text-align: center;
}
.feynman__subtitle {
  margin: 70px auto auto;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-align: center;
}
.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}  
.kaufman {
  background-color: #1f1f1f;
  background-image: url(../images/triangle.svg);
  background-size: 877px 877px;
  background-position: top right -210px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  position: relative;
  flex-direction: column;
}
.section-title_theme_dark {
  margin: 90px auto 0;
  color: white;
}
.table_theme_dark {
  margin: 0 auto 90px;
  color: white;
}
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
.table__text_theme_dark {
  color: white;  
}
.footer {
  display: flex;
  min-height: 350px;
  background-color: #1f1f1f;
  justify-content: center;
}
.footer__columns {
  display: flex;
  width: 90%;
  margin: 60px auto 40px;
  flex-direction: row;
  justify-content: space-between;  
}
.footer__column_content_copyright {
  display: flex;
  margin: 0;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;  
}
.logo_place_footer {    
  height: 35px;  
}
.footer__autor {
  margin: 18px 0;
  color: white;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}
.footer__column_content_info {
  display: flex;
  flex-direction: column;   
}
.footer__column-heading {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  color: white;
}
.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 20px 0 16px;
}
.footer__column-link {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: white;
  text-decoration: none;  
}
.footer__column_content_social {    
  display: flex;
  flex-direction: column;  
}
.footer__icon {
  width: 16px;
  margin-right: 10px;  
}